.image-container{
    padding-top: 90px;
    padding-right: 30px;
}

.main{
    background: linear-gradient(110deg, #2b6777 60%, #c8d8e4 40%);
    height:100%;
}

.main2{
    background: antiquewhite;
    height:100%;
}

.main3{
    background: antiquewhite;
    height:100%;
}

.main4{
    background: antiquewhite;
    height:100%;
}

.box{
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    background: #2b6777;
    height:75px;
    border: #2b6777;
    border-width: 20px;
    text-align: center;
    font-size: 32px;
    font-family:'Lobster';
    color: #ffffff;
    padding: 15px;
}


.d-flex{
padding-top: 10px;
}

img{
    border-radius: 10%;
}

.nav-item{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: weight 300;
    
}

.t1-container{
    padding-top:50px;
    padding-left: 70px;
    font-size: 90px;
    font-family:'Lobster';
    color: #ffffff;
}

.typed{
    display: inline-block;
}

.typed-out-container{
    overflow: hidden;
    white-space: nowrap;
    animation: 
    typing 3s steps(20, end) forwards;
    font-size: 1.6rem;
    width: 0;
    padding-top:20px;
    padding-left: 70px;
    font-family:'Lobster';
    color: #ffffff;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.icons{
    padding-top: 20px;
    padding-left: 70px;
}

.link{
    padding-left: 30px;
}

.projects{

text-align: center;
}

.abimage{
    align-items:right;
    padding-top: 10px;
    border-width: 20px;
}

.whoami
{
    padding-left: 40px;    
}

.iam{
    display: inline-block;
}

.skill{
    display: inline-block;
}




button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #5c2525;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container {
    border: solid 3px #474544;
    max-width: 1000px;
    margin: 40px auto;
    position: relative;
  }
  
  form {
    padding: 25px;
    margin: 00px 0;
  }
  
  h1 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 600px;
  }
  
  .icon_wrapper {
    margin: 20px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
      float: right;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #474544;
      color: #474544;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
    text-transform: uppercase;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 100px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #474544;
  }
  
  :-moz-placeholder { 
      color: #474544;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: #474544;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: #474544;
  }
  
  #form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #474544;
    color: #F2F3EB;
  }
  
  @media screen and (max-width: 768px) {
    #container {
      margin: 20px auto;
      width: 95%;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 26px;
    }
    
    .underline {
      width: 68px;
    }
    
    #form_button {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 18px;
    }
    
    .icon {
      height: 35px;
      width: 35px;
    }
    
    .underline {
      width: 53px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }
  }